* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

@font-face {
  font-family: "Eczar";
  src: url('./fonts/Eczar/Eczar-Regular.ttf');
}
@font-face {
  font-family: "Fjalla One";
  src: url('./fonts/Fjalla_One/FjallaOne-Regular.ttf');
}
@font-face {
  font-family: "Gentium Basic";
  src: url('./fonts/Gentium_Basic/GentiumBasic-Regular.ttf');
}

.color-primary-0 { color: #93A1A1 } /* Main Primary color */
.color-primary-1 { color: #FAFAFA }
.color-primary-2 { color: #C9CECE }
.color-primary-3 { color: #708787 }
.color-primary-4 { color: #517373 }

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-container {
  width: 100%;
  height: 158px;
}

.banner {
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px #708787;
}

.banner .item {
  padding: 1.5rem;
  font-family: 'Fjalla One', sans-serif;
}

.item.name {
  font-size: 3rem; 
  padding-left: 2.5rem; 
}

.item.name a, 
.menu li a {
  display: block;
}

.item.name a, 
.menu li a,
.menu-toggle {
  text-decoration: none;
}

.item.name a, 
.item.name a:visited, 
.menu li a, 
.menu li a:visited,
.menu-toggle:link,
.menu-toggle:visited {
  color: #000;
}

/*.item.name a:link {
  color: black;
  text-shadow: 0 0 black;
  transition: all 0.3s ease-out;
}

.item.name a:hover {
  text-shadow: 0px 0px 5px #d9a0eb;
  color: #57405e;
}*/

.item.name a {
  background-image: -webkit-linear-gradient(left, black 25%, #3EBAC6 37.5%, #8B539E, #E53782 62.5%, black 75%);
  background-image: linear-gradient(90deg, black 25%, #3EBAC6 37.5%, #8B539E, #E53782 62.5%, black 75%);
  background-position: right center;
  background-size: 400% auto;
  color: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: color 200ms linear;
  cursor: pointer;
}

.item.name a:hover {
  background-position: left center;
  transition: background-position 2000ms ease-out;
  cursor: pointer;
}

.item.email {
  padding-right: 1.5rem;
}

nav.menu-container {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0 1rem;
}

.menu-container ul.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.menu-container ul.menu li {
  font-family: 'Gentium Basic', serif;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  background-color: #E0E0E0;
  box-shadow: 0 1px 2px #708787;
}

.menu-container ul.menu li:hover {
  box-shadow: 0 2px 3px #C9CECE;
}

.menu-container ul.menu li.active {
  /*box-shadow: 0 2px 3px #7a757d;*/
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.content-title {
  border-bottom: 1px solid #708787;
  width: 60%;
  display: flex;
  justify-content: center;
}

.content-title h1 {
  line-height: 2.5rem;
  font-size: 2.25rem;
  padding: 1rem 0;
  margin-top: 1rem;
  font-family: 'Eczar', serif;
  text-align: center;
}

.content-container {
  /*width: 60%;*/
}

.content-container p {
  display: block;
  margin: 1rem;
  line-height: 1.25rem;
  font-family: 'Gentium Basic', serif;
}

.menu-toggle {
  display: none;
  font-family: 'Gentium Basic', serif;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.25rem;
  background-color: #E0E0E0;
  border: 1px solid #C9CECE;
  border-radius: 2px;
  padding: 0.2rem 0.55rem 0.25rem 0.45rem;
  height: 1rem;
  width: 1rem;
  align-self: flex-end;
  margin-bottom: 0.25rem;
  box-shadow: 0 1px 2px #708787;
}

@media screen and (max-width: 926px) {
  .header-container {
    height: inherit;
  }
  .banner {
    flex-direction: column;
  }
  .item.name {
    padding-left: 1.5rem;
  }
  .item.email {
    padding-top: 0.5rem;
  }
  .menu-toggle {
    display: initial;
    border-radius: 2px;
  }
  .menu-container {
    flex-direction: column;
  }
  nav.menu-container {
    padding: 1rem;
  }
  .menu-container ul.menu {
    flex-direction: column;
    display: none;
    width: 100%;
    border: 1px solid #C9CECE;
  }
  .menu-container ul.menu.menu-toggleShow {
    display: flex;
  }
  .menu-container ul.menu li {
    padding: 0.75rem;
    border: 1px solid #C9CECE;
    border-radius: 0;
  }
  .menu-container ul.menu li a {
    border-radius: 0;
  }
  .menu-container ul.menu li a:hover {
    box-shadow: 0 1px 2px #708787;
  }
  .main-content {
    width: 80%;
  }
